.menu {
    background-color: var(--background-dark);
    color: var(--text-muted);
    font: 20px var(--font-roboto);
    font-weight: 300;
    min-height: 100vh;

    & section {
        padding: 1.875rem;
        padding-top: 0;
    }

    & section:first-of-type {
        padding-top: 1.875rem;
    }

    & section:not(:last-of-type) {
        border-bottom: 1px solid rgba(225, 225, 225, 0.1);
        margin-bottom: 1.875rem;
    }
    
    & ol {
        list-style: none;
    }

    & small {
        display: block;
        font-size: 13px;
    }
}

.close {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    background: inherit;
    border: none;
    cursor: pointer;
}

.mainSection {
    line-height: 1.75;

    & small {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-size: 11px;
        padding-top: 1.5rem;
        gap: 0.5rem;
        letter-spacing: 0.2em;
    }
}

.featuresSection {
    & ol {
        display: flex;
        flex-direction: column;
        gap: 1.75rem;
        font-size: 18px;
    }

    & li a {
        display: flex;
        justify-content: space-between;

        & img {
            width: 38px;
            height: 38px;
            border: 1px solid #555;
        }
    }

    & small {
        padding-top: 0.25rem;
    }
}

.aboutSection {
    font-size: 13px;
    letter-spacing: 0.04em;
    line-height: 1.75;

    & p {
        margin-bottom: 1.5rem;
    }
}

.buttons {
    display: flex;
    border: 1px solid var(--text-muted);

    & button {
        background: inherit;
        border: none;
        cursor: pointer;
        color: inherit;
        text-transform: uppercase;
        font-weight: 200;
        font-size: 12px;
        padding: 0.5rem 0;
        flex: 1;
    }

    & button:not(:last-of-type) {
        border-right: 1px solid var(--text-muted);
    }
}