.navbar {
    position: sticky;
    top: 0;
    height: 63px;
    padding: 0 21px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color: var(--white);
    z-index: 2;
}

.navbarContent {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbarContent, .search {
    & button {
        background: none;
        border: none;
        cursor: pointer;
    }
}

.logo {
    width: 140px;
}    

.links {
    display: none;
}

.actions {
    display: flex;
    gap: 24px;
}

.search {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    background-color: var(--accent);
    padding: 0 21px;
    gap: 21px;

    & input {
        flex: 1;
        background: none;
        border: none;
        font-size: 18px;
        color: var(--white);
    }

    & input::placeholder {
        color: inherit;
        opacity: 0.65;
    }

    & input:focus {
        outline: none;
    }

    .searchIcon {
        filter: invert(1);
    }
}

@media (min-width: 1024px) {
    .links {
        list-style: none;
        display: flex;
        height: 100%;
        gap: 32px;
        font-family: var(--font-roboto), Helvetica, sans-serif;
        font-weight: 400;
        font-size: 15px;
    }

    .links li {
        height: 100%;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: var(--accent);
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        &:hover::after {
            opacity: 1;
        }
    }

    .links a {
        height: 100%;
        display: flex;
        align-items: center;
    }
}